
.article {
margin-top: 80px;
margin-bottom: 120px;
}

.article-title-medium {
font-size: 36px;
}

.article-text {
font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #535755;
margin-bottom: 20px;
}

.article-text:last-child {
  margin-bottom: 0px;
}

.article-mb {
margin-bottom: 80px;
}

.article-decor-wrapper {
position: relative;
}

.article-decor-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../images/icons/decor-icon.svg");
  width: 528px;
  height: 48px;
}

.article-decor-wrapper-2 {
  position: relative;
}

.play-button {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background: #3596ED url("../images/icons/play-icon.svg") no-repeat center / 24px 24px;
  padding: 0;
  border-radius: 50%;
  border: none; 
  cursor: pointer; 
  transition: all .2s;
}

.play-button:hover {
  background-color: #3aa3ff;
  opacity: 1;
}

.play-button:not(:disabled):active{
  background-color: #59b2ff;
}

.article-decor-wrapper-1::before {
  top: 100px;
  left: -350px;
}

.article-decor-wrapper-2::before {
  bottom: 136px;
  right: -350px;
}

.article-img,
.article-video {
width: 100%;
}

.article-list {
margin-top: 0;
padding-left: 20px;
}

.article-item:not(:last-child) {
margin-bottom: 12px;
}

.article-item::marker {
color: #3596ED;
font-size: 21px;
}

.article-video {
margin-bottom: 40px;
}